.form .ant-input,
.form .ant-input-password{
    border-radius: 30px !important;
    border-color: white;    
}
.form .ant-input::placeholder,
.form .ant-input-password ::placeholder{
    color: grey;   
}

.form .ant-form-item-label > label{
    color: white;
    font-weight: 600px;
}

.form{
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(12px);
}

.form-page{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./patrick-tomasso-5hvn-2WW6rY-unsplash.jpg');
    backdrop-filter: blur(10px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}

.register-page{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(image11.jpg);
    backdrop-filter: blur(10px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

*{
    margin: 0px;
    padding: 0px;
}


.card-ui{
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: all 0.3s ease; 
}

.card-ui:hover{
    box-shadow: 0 12px 30px rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.vb-text h5{
    color: #b91c1c !important;
}

.vb-text .ant-typography{
    color: #7f1d1d;
}

.request-btn{
    margin-top: 20px;
    padding: 12px;
    background: linear-gradient(135deg, #b91c1c, #dc2626);
    border: none;
    border-radius: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.request-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(22,119,255,0.3);
}

.sidebar-text{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    padding: 10px 10px;
    color: #7f1d1d;
    font-weight: 900px;
    cursor: pointer;
}

.sidebar-icon{
    font-size: 19px;
}